
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<form th:action="@{/clientes/listaVuelos}" th:object="${vuelo}" th:method="GET">
		<table>
			<tr>
				<td>
					<label>Numero:</label>
				</td>

				<td>
					<input type="text" id="numero" th:field="${vuelo.numero}">
				</td>
			</tr>

		

			
		</table>
		<input class="btn btn-primary" type="submit" value="Buscar">
	</form>
</body>

</html>