<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>

	<table class="table table-dark">
		<thead>
			<tr>
				<th>Numero</th>

				<th>Asientos Disponibles</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="vuelo:${vuelos}">
				<td th:text="${vuelo.numero}"></td>
				<td th:text="${vuelo.asientosDisponibles}"></td>



			</tr>
		</tbody>
		
		<form th:action="@{/clientes/insertarReserva}" th:object="${compraPasajes}" th:method="POST">
			<table>
				<tr>
					<td>
						<label>Cantidad Asientos A comprar:</label>
					</td>

					<td>
						<input type="text" id="numero" th:field="${compraPasajes.cantidadAsientosComprados}">
					</td>
				</tr>

				<tr>
					<td>
						<label>Cedula:</label>
					</td>

					<td>
						<input type="text" id="numero" th:field="${compraPasajes.cliente.cedula}">
					</td>
				</tr>




			</table>
			<input class="btn btn-primary" type="submit" value="Reserva">
		</form>
	</table>


</body>

</html>